@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --primary-color: #81c408;
    --heading-color: #45595B; 
    --black-color: #212529;
    --text-color: #747D88;
    --yellow-color: #ffb524;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    color: var(--text-color);
    scroll-behavior: smooth;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

button, input {
    outline: none;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--heading-color);
}

/* Common */
.w-100 {
    width: 100%;
}

.current-height {
    height: 100%;
}

.d-flex {
    display: flex !important;
}

.a-items {
    align-items: center !important;
}

.j-content {
    justify-content: center;
}   

.j-space-between {
    justify-content: space-between !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-nowrap {
    flex-wrap: nowrap !important;
}

.position-relative {
    position: relative !important;
}

.t-center {
    text-align: center !important;
}

.j-flex-end {
    justify-content: flex-end;
}


.m-t-24 {
    margin-top: 24px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-r-16 {
    margin-right: 16px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-b-24 {
    margin-bottom: 24px;
}

.m-b-48 {
    margin-bottom: 48px;
}

.p-0 {
    padding: 0;
}

.p-8-0 {
    padding: 8px 0;
}

.p-24-0 {
    padding: 24px 0;
}

.border-n {
    border: none !important;
}

.rounded {
    border-radius: 10px;
}

.l-h-24 {
    line-height: 24px;
}

.border_bottom-white {
    border-bottom: 1px solid #dee2e6 !important;
}
.border_bottom {
    width: 100%;
    height: 1px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: var(--yellow-color);
}

/* text */
.text-primary {
    color: var(--primary-color) !important;
}

/* background*/
.bg-dark {
    background-color: var(--heading-color) !important;
}

.bg-white {
    background-color: var(--white-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-yellow {
    background-color: var(--yellow-color) !important;
}

.bg-yellow-rgba {
    background-color: rgba(226, 175, 24, 0.5) !important;
}

.bg-light {
    background-color: #f4f6f8;
}

/* Button */
.btn {
    min-width: 46px;
    padding: 8px 10px;
    color: var(--primary-color);
    border-radius: 999px;
    cursor: pointer;
}

.btn_add-cart {
    padding: 9px 18px;
    border: 1px solid var(--yellow-color);
    border-radius: 999px;
    transition: 0.5s;
}

.btn_add-cart span {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
    transition: 0.5s;
}

.btn_add-cart:hover{
    background-color: var(--yellow-color);
}

.btn_add-cart:hover span {
    color: var(--white-color);
}

.add-cart-icon {
    margin-right: 8px;
}

/* Button search */
.btn-search {
    padding: 12px 13.2px;
    margin-right: 24px;
    border: 1px solid var(--yellow-color);
    border-radius: 999px;
    transition: 0.5s;
    cursor: pointer;
}

.btn-search i {
    color: var(--primary-color);
}

.btn-search:hover {
    background-color: var(--yellow-color);
}

/* Button Search Input*/
.search_input {
    width: 552px;
    height: 60px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    border: 2px solid var(--yellow-color);
    border-radius: 999px;
    transition: 0.3s;
}

.input_search {
    flex: 1;
    height: 100%;
    font-size: 1.6rem;
    color: var(--text-color);
    padding-right: 10px;
}

.search_input:focus-within{
    box-shadow: 0 0 0 .25rem rgba(129, 196, 8, .25);
}

.search_input .btn_submit {
    height: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 2px solid var(--yellow-color);
    border-radius: 999px;
    transition: 0.4s;
}

.search_input .btn_submit:hover {
    background-color: var(--yellow-color);
}

/* Button Slider common */

.prev-btn_slider i,
.next-btn_slider i{
    padding: 7px 26px;
    color: var(--primary-color);
    border: 1px solid var(--yellow-color);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.prev-btn_slider i:hover,
.next-btn_slider i:hover{
    background-color: var(--yellow-color);
    color: var(--white-color);
}

.prev-btn_slider {
    margin-right: 10px;
}
/* Icon rating */
.rating {
    margin: 16px 0;
}

.rating i.active {
    color: var(--primary-color);
}